* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1620px;
    margin: 0 auto;
}

/* Header section Style  */

header {
    background-color: #ff8f0e25;
}

.header-wraper {
    width: 80%;
    margin: 0 auto;
}

/* Navigation Styles  */

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 30px 0;
}

.nav-link ul {
    display: flex;
    justify-content: space-between;
}

.nav-link ul li {
    background: transparent;
    padding: 10px 15px;
    border-radius: 5px;
    color: #424242;
    transition: all .3s ease;
}

.nav-link ul li:hover {
    background: #FF900E;
    color: #fff;
}

.nav-link {
    width: 40%;
}

/* Header Content Styles  */

.header-content {
    text-align: center;
}

.header-content h1 {
    font-weight: 700;
    font-size: 35px;
    padding: 15px 48px;
}

.header-content p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 15px 48px;
}

.btn-primary {
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
    background-color: #FF900E;
    color: white;
    border-radius: 5px;
    border: none;
    transition: all .3s ease;
    border: 2px solid transparent;
}


.btn-primary:hover{
    background-color:rgba(255, 255, 255, 0.671);
    color: #FF900E;
    border: 2px solid #e7881cb7;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 48px 0;
    text-align: center;
}

/* Banner Style  */

.banner-image {
    padding-bottom: 20px;
}

.banner-image img {
    width: 100%;
}

/* Four Images with info Style  */

.image-with-info {
    display: flex;
    width: 80%;
    margin: 0 auto;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.image-grid {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.image-info {
    width: 50%;
}

.container-align {
    width: 80%;
    margin: 0 auto;
    padding: 48px 0;
}

.image-four img {
    width: 100%;
}

.image-info h2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.image-info p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin: 15px 0;
}

.color-one {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.color-two {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

/* Features Section Styles  */

.images-container2 {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.content-list2 {
    padding-right: 25px;
    width: 50%;
}

.feature-img {
    padding-left: 25px;
    width: 50%;
}

.feature-img img {
    width: 400px;
    height: 555px;
}

.second-list {
    margin-left: 15px;
    margin-top: 8px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(243, 239, 239, 0.87);
}

.content-title2 {
    font-weight: 700;
    font-size: 35px;
    color: #131313;
}

.experience-icon {
    background-color: #FF900E;
    position: relative;
    top: -85px;
    left: -95px;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    padding: 30px;
    border-radius: 6px;
    font-weight: bold;
    color: #fff;
}

.experience-icon p {
    font-size: 15px;
    font-weight: normal;
}

/* Facts Style  */

.our-facts {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 25px;
    margin-top: 80px;
    width: 80%;
    margin-left: 15px;
}

.facts-item {
    width: 75%;
    padding: 30px 10px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transition: all .45s ease;

}

.facts-item h3 {
    font-size: 24px;
    margin: 4px 0;
}

.facts-item:hover {
    border: 1px solid #FF900E;
    box-shadow: 1px 1px 10px 1px #ff8c0877, -1px -1px 10px 1px #ff8c0863 ;
    transform: scale(1.2);
}

.facts-item:hover img{
    filter: drop-shadow(4px 4px 1px #1d1d1db9);
    transform: scale(1.15);
}

/* Sponsor Styles  */

.sponsor-section{
    text-align: center;
    margin: 5rem auto;
}

.sponsor-section h2{
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
}

.sponsor-section p{
    margin: 1rem 0 45px;
    color: #727272;
}
.sponsor-img-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sponsor-img{
    width: 15%;
}
.sponsor-img img{
    width: 80%;
    filter: grayscale(1);
}

/* Footer Style  */

footer{
    width: 80%;
    margin: 0 auto 45px;
    padding: 30px 0;
    text-align: center;
    color: #424242;
    background-color: #fae1c3ad;
    border-radius: 10px;
}