* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

@media screen and (max-width: 600px) {
    body {
      grid-template-columns: repeat(1 , 1fr);
    }
  }
/* Navigation Styles  */
nav {
    display: flex;
    justify-content: space-around;
    margin: 15px 0 30px;
}

.nav-right {
    display: flex;
    gap: 30px;
}

.nav-title {
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    text-align: center;
    color: #131313;
}

.nav-right {
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    color: #424242;
}

/* Header Style  */

.header-title {
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    color: #131313;
}

.header-description {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    color: #727272;
    margin: 15px 280px;
}

.header-btn {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF900E;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
}

.button-center {
    display: flex;
    justify-content: center;
}

.banner {
    display: flex;
    justify-content: center;

}

.banner img {
    width: 70%;
    height: auto;
}

/* Four Images with content grid style  */

.images-container {
    justify-content: center;
    align-items: center;
}

.images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin: 30px 200px;
}

.content-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.content-title-1 {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.content-title-2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.content-title-3 {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

.images-all {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

img {
    width: 200px;
    height: auto;
}

/* Second Images Container Styles  */

.images-container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin: 50px 200px;
}

.images2 {
    width: 400px;
    height: 555px;
}

.second-list {
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(218, 207, 207);
}

.content-title2 {
    font-weight: 700;
    font-size: 35px;
    color: #131313;
}

.button-padding {
    padding: 10px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    /* align-items: center; */
}

.button-style {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
}

.button-style2 {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}

.image-with-button {
    background-image: url(images/architect.png);
    background-position: center;
    width: 400px;
    height: auto;
}

/* Some Fact Styles  */

.fourth-content {
    margin: 15px 200px;
}

.fourth-content .content-description {
    margin: 15px 0 60px 0;
}

.four-box {
    display: flex;
    justify-content: center;
    gap: 40px;
    
}

.box {
    text-align: center;
    padding: 15px 5px;
    border: 2px solid #727272;
    border-radius: 3px;

}

.images-size {
    width: 30px;
    height: auto;
    margin-top: 10px;
}

.box .content-description {
    margin: 10px 0;
}

.box .content-list2 {
    margin: 10px 0;  
}

.sponsor {
    display: flex;
    justify-content: space-evenly;
}

.sponsor-content {
    text-align: center;
    margin: 200px 0 0;
}

.sponsor-content h2 {
    margin-bottom: 15px;
}
.sponsor-image {
    width: 80px;
    height: auto;
    color: #727272;
    margin: 50px 0;
}

/* Footer Styles  */

.footer {
    padding: 40px 100px;
    background-color: #FFF4E7;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: center;
}